@charset "utf-8";
@import url(./reset.css);
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
body {
    font-family: "NanumBarunGothi";
}
.wrap {
    /* padding: 0 60px; */
}
h3 {
    letter-spacing: 0.2em;
}
.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}
.main-video {
    width: 100%;
    position: relative;
    padding-top: 32%;
    overflow: hidden;
}
.main-video video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.main-video:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255, 0.4);
    z-index: 1;
}
.main-video:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10vw;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    z-index: 2;
}

/* nav */
.nav {
    width: 100%;
    padding: 10px 0;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(5px);
}
.nav-wrap {
    max-width: 1400px;
    margin: 0 auto;
    
}
.nav-list {
    float: right;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 30px;
    font-weight: 700;
    color: #999;
}
.nav-list a {
    margin-right: 20px;
}
.nav-list a:hover {
    color: #489385;
}

/* art */
.art-work h3 {
    color: #dbdbdb;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
}
.art-wrap {
    max-width: 1400px;
    margin: 0 auto;
}
.art-wrap li {
    padding: 5px;
    width: 20%;
    float: left;
}
.art-card {
    cursor: pointer;
}
.art-card:hover .art-photo img {
    transform: scale(1.1);
}
.art-card p {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
}
.art-photo {
    overflow: hidden;
}
.art-photo img {
    transition: all 0.3s;
}

/* project */

.project-wrap {
    max-width: 1400px;
    margin: 30px auto;
}
.project-wrap h3{
    margin: 40px 0;
    color: #dbdbdb;
}
.project-wrap li {
    width: 33.3333%;
    padding: 0 10px;
    float: left;
}
.project-card {
    position: relative;
    overflow: hidden;
}
.project-photo {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}
.project-photo img {
    position: absolute;
    top: 0;
    left: 0;
}
.small-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 42.8%;
    background: rgb(255,255,255,0.7);
    backdrop-filter: blur(10px);
    text-align: right;
    padding: 10px;
    /* border: 1px solid #000; */
}
.project-title p {
    font-size: 14px;
}
.project-title .small-title {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 10px;
}

/* exhibition */
.exhibition {
    margin-bottom: 50px;
}
.exhibition h3 {
    color: #dbdbdb;
    margin: 30px 0;
    margin-top: 50px;
}
.exhibition-wrap {
    max-width: 1400px;
    margin: 0 auto;
}
.exhibition li {
    width: 25%;
    position: relative;
    float: left;
    padding: 10px;
    
}
.ex-photo {
    box-shadow: 3px 3px 10px rgb(0 0 0 / 14%);
}
.exhibition .ex-title {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(255,255,255,0.65);
    backdrop-filter: blur(10px);
    font-size: 11px;
    transition: all 0.4s;
}
.ex-title-main {
    font-size: 14px;
}
.exhibition-wrap li a:hover .ex-title {
    opacity: 1;
}

/* footer */
footer {
    border-top: 1px solid #dbdbdb;
}
.footer-wrap {
    max-width: 1400px;
    margin: 0 auto;
}
.footer-anchor {
    margin: 20px 0;
    letter-spacing: 0.2em;
    border-radius: 30px;
    padding: 5px 15px;
    background: #dbdbdb;
    display: inline-block;
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
    transition: all .5s;
}
.footer-anchor:hover {
    background: #489385;
    color: #fff;
}
.footer-wrap p {
    color: #999;
    float: right;
    margin-top: 20px;
}

/* responsiv */
@media (max-width: 768px) {
    .footer-wrap,
    .project-wrap,
    .exhibition-wrap,
    .art-wrap,
    .nav-wrap {
        padding: 0 30px;
    }
    .nav-wrap .logo {
        text-align: center;
    }
    .nav-wrap .nav-list {
        float: none;
    }
    .art-wrap ul li {
        width: 50%;
    }
    .project-wrap ul li {
        width: 50%;
        margin-bottom: 20px;
    }
    .exhibition-wrap ul li {
        width: 50%;
    }
    .footer-wrap {
        text-align: center;
    }
    .footer-wrap p {
        float: none;
        margin: 0 0 50px;
    }
}