@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
